/* some style */
body {
	font-family: courier;
}

.guess {
	z-index: 1;
	padding-top: 10px;
	padding-left: 10px;
	position: fixed;
	top: 0px;
	width: 100%;
	background: slateblue;
	padding-bottom: .5em;
	color: white;
}
.guess span {
	font-weight: bold;
}

body {
	margin: 0px;
	padding: 0px;
	padding-top: 2em;
}

body div {
	padding-left: 10px;
}

#guess-box {
	border-radius: 25px;
	border: 1px solid black;
	padding-left: 1em;
}

#guess-box:focus {
	outline: none;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    #guess-box {width: 8em;}
    
    }

.to-guess, .last-guessed {
	background: #DCE2F0;
	border-radius: 5px;
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 3px;
	text-align: center;
        transition: background 0.1s, width 0.1s;
}

.last-guessed {
	background: rgb(154, 168, 255) !important;  
}

.guessed {
	background: white;
        border: 0px;
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 3px;
	text-align: center;
}

.hint {
	position: absolute;
	top: 0px
	right: 0px;
	font-size: 50%;
}